[alias]

  # short status
  s = status -s

  # short log
  l = log --pretty=oneline -n 20 --graph --abbrev-commit

  # diff with summary
  d = !"git --no-pager diff --compact-summary"

  # clone a repository including all submodules
	c = clone --recursive

  # normal diff
  patch = !git --no-pager diff --no-color

  # color graph log view
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"

	# show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

  # remove branches that have already been merged with master
	# a.k.a. ‘delete merged’
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d; git remote -v update -p"

[core]

	editor = vim

	excludesfile = $HOME/.gitignore

[credential]

	helper = osxkeychain

[help]

  # Automatically correct and execute mistyped commands
  autocorrect = 1

[pager]

  diff = diff-so-fancy | less --tabs=4 -RFXS --pattern '^(Date|added|deleted|modified): '

