let mapleader=","

""" runtime/defaults.vim  -------------------
set history=200
set showcmd
" set wildmenu
set scrolloff=5
set incsearch
set nrformats-=octal
map Q gq

""" Vim Sensible  ---------------------------
set nrformats-=octal
set incsearch
nnoremap <silent> <C-L> :nohlsearch<CR>
set scrolloff=5 
set sidescrolloff=5
set history=1000

""" Plugins  --------------------------------
set surround
set commentary
set NERDTree
set highlightedyank

""" Common  ---------------------------------
set clipboard^=unnamedplus,unnamed

set hlsearch
set ignorecase
set smartcase
set visualbell

set showmode
set number 
set relativenumber

nnoremap <leader>/ :nohlsearch<CR>

""" IdeaVim  ---------------------------------
set ideajoin " Smart join for <C-J>
set ideamarks " Map vim marks to IDEA global marks

nmap <leader>l <cmd>:NERDTreeToggle<CR>
nmap <leader>p <Action>(GotoFile)
nmap <leader>r <Action>(FindInPath)
nmap <leader>t <Action>(ActivateTerminalToolWindow)
nmap <leader>, <Action>(ChooseRunConfiguration)